.top-bar {
    background-color: #333;
    padding: 1rem;
    color: white;
    text-align: center;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
    padding: 0;
}

    .nav-links li {
        display: inline;
    }

    .nav-links a {
        color: white;
        text-decoration: none;
        font-size: 1.2rem;
    }

        .nav-links a.active-link {
            font-weight: bold;
            border-bottom: 2px solid #fff;
        }
